* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f6f7fb;
    color: #2c2c2c;
}

.header{
    text-align: center;
    margin-top: 30px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.logo .icon{
    color: #e0388b;
    font-weight: bold;
    font-size: 22px;
}

.logo h1{
    color: #333;
    font-weight: 700;
}

.container{
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    background: transparent;
}

.back{
    display: inline-block;
    color: #e0388b;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 15px;
}

.h2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.add-item{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.add-item input{
    flex: 1;
    padding: 10px;
    border: 1px solid #d9d9d9;
    outline: none;
}

.add-item button{
    background-color: #d84290;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
    transition: backgorund 0.2s;
}

.add-item button:hover{
    background-color: #c53680;
}

.list li {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

/* item marcado */
.list li.marcado {
  background-color: #d4edda !important; /* verde suave */
  border-color: #c3e6cb;
  text-decoration: line-through;
  opacity: 0.9;
}


.list label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.list input[type="checkbox"] {
  width: 16px;
  height: 16px;
}
.delete {
  border: none;
  background: transparent;
  color: #999;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s;
}

.delete:hover {
  color: #e0388b;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d9534f;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 14px;
}

.alert .close {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.marcado {
  background-color: #b6f5b6; /* verde claro bonito */
  text-decoration: line-through;
  opacity: 0.8;
  transition: background-color 0.3s ease;
}



